@import "../../styles/config.scss";

.item {
  @media (min-width: $max-tablet) {
    width: calc(33.3% - 30px);
  }

  &__image {
    display: flex;

    height: 300px;

    img {
      max-width: 100%;
      object-fit: contain;
    }
  }
}
